.header-main {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  width: 100%;
  background: #9fc9eb;
  box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  margin-bottom: auto;
  margin-left: 0;
  padding: 0.5rem;
  position: sticky;
  top: 0;

  .header-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: black;
  }
}
